body {
  margin-top: 20px;
  width: 100%;
  background-image: url("../images/background.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  background-color: white;
  width: 101%;
  margin-left: -1%;
  margin-top: -17px;
  height: 100px;
}
.topnav img {
  margin-top: 35px;
  margin-left: 25px;
  float: left;
}
.topnav button {
  margin-top: 45px;
  border-radius: 25px;
  padding-top: 6px;
  margin-right: 30px;
  width: 100px;
  height: 30px; 
  font-size: 16px;
  float: right;
  border-color: #326ddc;
  font-family: 'Tajawal', sans-serif;
}
.topnav .button1 {
  background: white;
  color: #326ddc;
}
.topnav .button2 {
  background: #326ddc;
  color: white;
  
}
.logo-image{
  width: 270px;
  height: 45px;
}

.jumbotron{
  background-image: url("images/background.png");
  text-align: center;
  margin-top: 130px;
}
.jumbotron-page3 {
  background-image: url("images/background.png");
  text-align: center;
  margin-top: 130px;
}
.jumbotron-page3 img {
  text-align: center;
  margin-top: 25px;
  width: 22%;
  margin-left: 20px;
}
p.big {
  font-weight: 100;
  text-align: center;
  color: white;
  font-size: 54px;
  font-family: 'Tajawal', sans-serif;
}
p.small {
  font-weight: 100;
  margin-top: -50px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'Tajawal', sans-serif;
}

.footer {
  margin-top: 228px;
  height: 30%;
  width: 100%;
  background-color: blue;
}

.form {
  background: white;
  padding: 10px 60px;
  max-width: 500px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  border-bottom: 1px solid #326DDC;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: white;
  color: #326DDC;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #326DDC;
  color: #ffffff;
}
.tab-group .active a {
  background: white;
  color: #326DDC;
    border-bottom: 3px solid #326DDC;
}

.tab-content > div:last-child {
  display: none;
}

::placeholder {
    color: #326DDC;
    opacity: 1;
    font-size: 15px;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

h5 {

  color: #326DDC;
  font-weight: 300;
  font-size: 12;
}


label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #326DDC;
}

label.active {
  display: none;

}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;

  padding: 5px 10px;
  background: #f2f2f2;
  background-image: none;
  border: 1px solid grey;
  color:  #326DDC;;
  border-radius: 20px;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #326DDC;
}

textarea {
  border: 2px solid grey;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  margin-top: 45px;
  border-radius: 25px;
  padding-top: 6px;
  margin-right: 30px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  float: right;
  border-color: #326ddc;
  font-family: 'Tajawal', sans-serif;
}
.button:hover, .button:focus {

}

.button-loginbox {
  
  margin-top: 45px;
  border-radius: 25px;
  padding-top: 6px;
  margin-right: 30px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  border-color: #326ddc;
  font-family: 'Tajawal', sans-serif;

}

.forgot {
  margin-top: 5px;
  text-align: center;
}

